<script src="//code.jquery.com/jquery-1.11.0.min.js">
</script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<link rel="stylesheet" href="./style/ng-tags-input.min.css">
<link rel="stylesheet" href="./style/ng-tags-input.bootstrap.min.css">
<style>
  @import url(http://fonts.googleapis.com/css?family=Roboto:400);
  body {
    -webkit-font-smoothing: antialiased;
    font: normal 20px Roboto, arial, sans-serif;
  }

  .form-login {
    background-color: gray;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /* border-radius: 15px; */
    /* border-color: green; */
    /* border-width: 2px; */
    /* box-shadow: 0 2 px 0 #cfcfcf; */
  }

  h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
    color: white;
  }

  .form-control {
    border-radius: 5px;
  }

  .wrapper {
    text-align: center;
  }

  .pac-container {
    background-color: #fff;
    position: absolute !important;
    z-index: 1000;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden
  }

  .pac-container:after {
    content: "";
    padding: 1px 1px 1px 0;
    height: 16px;
    text-align: right;
    display: block;
    background-image: url(//maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 104px 16px
  }

  .hdpi.pac-container:after {
    background-image: url(//maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2_hdpi.png)
  }

  .pac-item {
    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
    font-size: 11px;
    color: #999
  }

  .pac-item:hover {
    background-color: #fafafa
  }

  .pac-item-selected,
  .pac-item-selected:hover {
    background-color: #ebf2fe
  }

  .pac-matched {
    font-weight: 700
  }

  .pac-item-query {
    font-size: 13px;
    padding-right: 3px;
    color: #000
  }

  .pac-icon {
    width: 15px;
    height: 20px;
    margin-right: 7px;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    background-image: url(//maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
    background-size: 34px
  }

  .hdpi .pac-icon {
    background-image: url(//maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons_hdpi.png)
  }

  .pac-icon-search {
    background-position: -1px -1px
  }

  .pac-item-selected .pac-icon-search {
    background-position: -18px -1px
  }

  .pac-icon-marker {
    background-position: -1px -161px
  }

  .pac-item-selected .pac-icon-marker {
    background-position: -18px -161px
  }

  .pac-placeholder {
    color: gray
  }

  .custom-prediction-label {
    font-style: italic;
  }

  .commentsBox {
    position: absolute;
    width: 95%;
    z-index: 5;
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .commentBox {
      padding:10px;
      border-top:1px dotted #bbb;
  }
  .commentBox .form-group:first-child, .actionBox .form-group:first-child {
      width:80%;
  }
  .commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
      width:15%;
  }
  .actionBox .form-group * {
      width:100%;
  }
  .taskDescription {
      margin-top:10px 0;
  }
  .commentList {
      padding:0;
      list-style:none;
      height: 145px;
      /* max-height:180px; */
      overflow:auto;
  }
  .commentList li {
      margin:0;
      margin-top:10px;
  }
  .commentList li > div {
      display:table-cell;
  }
  .commentText p {
      margin:0;
  }
  .sub-text {
      color:#aaa;
      font-family:verdana;
      font-size:11px;
  }
  .actionBox {
      border-top:1px dotted #bbb;
       padding-top:1px;
  }

</style>

<div class="container">
  <div style="font-family: Roboto, sans-serif;" id="addNew">
    <span style="color: white;">Distance: </span>
    <div class="row">
      <div class="col-xs-3" style="padding-bottom: 5px;">
        <select class="form-control" ng-init="ctrl.searchDistance = ctrl.selectDistance[0]" ng-model="ctrl.searchDistance" ng-options="distance as distance.text for distance in ctrl.selectDistance track by distance.id">
        </select>
      </div>
      <div class="col-xs-9">
        <h2 ng-show="ctrl.noResultText" style="color: white;">
          <span class="label label-info" style="padding-bottom: 2px;">
            <i>No results!</i>
          </span>
        </h2>
      </div>
    </div>
      <div id="custom-search-input">
      <div class="input-group">
          <input ng-model="ctrl.searchTerm" type="text" class="form-control input-lg" placeholder="Search Pets by Zipcode, Neighborhood, etc"/>
            <span class="input-group-btn">
            <button ng-click="ctrl.fetchSearchResults(ctrl.searchTerm, ctrl.searchDistance.id)" class="btn btn-info btn-lg" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
        </div>
      </div>
  </div>
  <div class="row">
    <div ng-init="ctrl.render()">
      <div ng-controller="dispatchController">
        <div style="border: 3px solid #008000;" id="demo" class="collapse form-login">
          <form name="myForm">
            <h4 style="font-family: Zilla Slab">Give Us Some Clues</h4>
            <label style="color: white" for="lostOrFound" required=""> Choose Lost or Found: </label>
            <br>
            <select name="lostOrFound" ng-model="ctrl.lostStatus">
              <option value="Lost">Lost</option>
              <option value="Found">Found</option>
              <br>
            </select>
            <tt style="color: white">{{ctrl.lostStatus}} Pet</tt>
            <br>
            <br>
            <label style="color: white" style="color: white" for="singleSelect"> Choose Animal Type: </label>
            <br>
            <select ng-model="ctrl.selectedSpecies" ng-options="type for type in ctrl.speciesList"></select>
            <tt style="color: white"> Type of Pet: {{ctrl.selectedSpecies}}</tt>
            <div class="form-group">
              <br>
              <label style="color: white" for="inlineFormInputGroup">Last Seen: Enter Address or Nearby Business</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">+</div>
                <div>
                  <input type="text" id="address" required="" g-places-autocomplete ng-model="ctrl.place" id="searchTextField" class="form-control input-large chat-input"
                    placeholder="Start Typing Address..." />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label style="color: white">Enter Animal Details</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">+</div>
                <textarea style="height: 50px;" ng-model="ctrl.formBody" id="userPassword" class="form-control input-sm chat-input" placeholder="Animal Details"
                  rows="2" required="" />
              </div>
            </div>
            <div class="form-group">
              <br>
              <label style="color: white" for="inlineFormInputGroup">Enter features that apply</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">+</div>
                <div>
                  <tags-input ng-model="ctrl.tags" class="form-control ti-input-large chat-input" placeholder="Seperate with , (male, red) ">
                    <auto-complete source="ctrl.loadTags()"></auto-complete>
                  </tags-input>
                </div>
              </div>
            </div>
            <div ng-init="imgSrc" ng-model="ctrl.img">{{ctrl.img}}</div>
            <br>
            <a href="#" id="upload_widget_opener" style="color:white">Upload a Picture of Your Pet</a>
            <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
            <script type="text/javascript">
              document.getElementById("upload_widget_opener").addEventListener("click", function () {
                cloudinary.openUploadWidget({
                    cloud_name: 'rose8190',
                    upload_preset: 'ipcueltn'
                  },
                  function (error, result) {
                    console.log(error, result, 'upload info')
                    window.imgSrc = result[0].secure_url;
                    img = result[0].secure_url;
                    console.log(window.imgSrc, 'in petform.html');
                  });
              }, false);
            </script>
            <img ng-src={{$window.imgSrc}} />
            </br>
            <br>
            <div ng-if="ctrl.missingField" style="color: rgb(178,0,89)">
              {{ctrl.missingField}}
            </div>
            <div class="wrapper">
              <span class="group-btn">
                <a style="width: 100%" ng-disable="!myForm.$valid" ng-click="ctrl.submit(ctrl.address, ctrl.formBody, window.imgSrc, window.date)"
                  href="#" style="margin-top: 3%" class="btn btn-primary btn-md">Submit Bulletin
                  <i class="fa fa-sign-in"></i>
                </a>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-6" ng-repeat="bulletin in ctrl.bulletinData | orderBy:'$index':true" style="background-color:lightgray;color: white; height:auto; border: 3px solid #008000;">
          <div ng-if="bulletin.user === ctrl.email">
            <button style="float: right; padding: 2% 1%" type="button" class="close" aria-label="Close" ng-click="ctrl.deletePost(bulletin)">
              <span style="top: 3px; right: 3px; position: absolute;" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </button>
          </div>
          <img style="padding: 1%;border-radius: 50px; height: 70px" ng-src="{{bulletin.userpic}}" />
          <button type="button" ng-click="ctrl.bullClick(bulletin)" class="btn btn-info">Show on map</button>          
          <button type="button" class="btn btn-info" data-toggle="collapse" data-target={{'#'+bulletin.id}} >Comments</button>
          <!-- <a id="email" ng-href="mailto:{{bulletin.user}}">Send email</a> -->
          <h3 style="color: green;clear:left; float: right">{{bulletin.lostOrFound}}</h3>
          <h3 style="margin-right: 5px; float:right; color: rgb(178,0,89)">
            <b>{{bulletin.type}}</b>
          </h3>
          <div id={{bulletin.id}} class="collapse form-login commentsBox">
            <div class="actionBox">
              <ul class="commentList">
                  <div ng-repeat="comment in bulletin.comments">
                      <div class="commentText">
                          <p class="">{{comment.name}} says: <br> {{comment.message}}</p> <span class="date sub-text">{{comment.time}}</span>
                      </div>
                  </disv>
              </ul>
              <form class="form-inline" role="form">
                  <div class="form-group">
                      <input ng-model="ctrl.commentText" class="form-control" type="text" placeholder="Your comments" />
                  </div>
                  <div class="form-group">
                      <button ng-click="ctrl.sendComment(bulletin.id, bulletin.user)" class="btn btn-default">Add</button>
                  </div>
              </form>
            </div>
          </div>
          <div style="width: 100%; height: 38px;background-color: gray">
            <h4 style="padding-top: 7px;font-size: 19px">
              <b>{{bulletin.date}}</b>
            </h4>
          </div>
          <div ng-if="bulletin.petPic !== 'undefined'">
            <img src="{{bulletin.petPic}}" style="height:100px;width: auto;float:right;" ng-click="ctrl.modal(bulletin.petPic)" />
          </div>
          <div style="height: 100px">
            <div style="color:black;font-size: 20px;">
              <b>Description:</b>
              <span style="font-size: 19px"> {{bulletin.message}}</span>
            </div>
            <div style="color: black; font-size: 19px;">
              <b>
                Features:
              </b>
              {{bulletin.styles}}
            </div>
          </div>
          <div style="padding: 5px; max-height: 25%; background-color: gray;font-size: 19px; color: white;">
            <b>
              {{bulletin.lostOrFound}} Near:
            </b>
            {{bulletin.address}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" id="imagepreview" style="width: 100%; height: auto">
        </div>
      </div>
    </div>
  </div>